files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 8080;
        
        location /sw.js {
          add_header Cache-Control "no-cache";
          add_header Service-Worker-Allowed "/";
        }
        
        location / {
          try_files $uri $uri/ /index.html;
        }
      }
